
.add-order-button {
  align-items: center;
  background: #0c151c;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  height: 32px;
  justify-content: center;
  padding: 4px;
  position: fixed;
  right: 58px;
  top: 8px;
  transition: all .3s ease;
  width: 32px;
  z-index: 9999;
}

.add-order-button:hover {
  scale: 1.1;
}

.add-order-button ~ input:checked ~ .add-order-submenu {
  background-color: #0c151c;
  display: block;
}

.add-order-submenu {
  background-color: #0c151c;
  opacity: 0.99;
  border-radius: 6px;
  display: none;
  padding: 32px;
  position: fixed;
  top: 10%;
  left: 31%;
  width: 70vh;
  height: 60vh;
  z-index: 2;
  text-align: center;
  
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}