.element-and-buttons {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  position: relative;

}

.button-box {
  display: flex;
  justify-content: flex-start;
  gap:3px;
  padding-top: 20px;

}

